.formDelete{
    display: inline-block;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice{
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    background-color: #007bff;
    border-color: #006fe6;
    color: #fff;
    padding: 5px 10px 5px 3px;
    margin-top: 0.31rem;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
   padding-right: 5px;
    cursor: pointer;
}
